@using Microsoft.AspNetCore.Authentication
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
    
        <AuthorizeView>
            <Authorized>
        <div class="top-row px-4">
            <button @onclick="Deslogar" class="btn btn-sm btn-primary">Sair</button>
        </div>
            </Authorized>
            <NotAuthorized>

            </NotAuthorized>
        </AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    [Inject] IHttpContextAccessor HttpContextAccessor { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }

    private async Task Deslogar()
    {
        await HttpContextAccessor.HttpContext!.SignOutAsync("Cookies");
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}
